
//  .item {
//      &+& {
//          .advantage__list &
//          {
//                margin-left: 30px;
//          }
//      }
//  }

// 
// 

.advantage__list {
  // display: flex;

  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;;

 
@media screen and(min-width:768px) {
  display: flex;
  flex-wrap: wrap;
 margin: -15px;
}}

.advantage__list .item {

  &:not(:last-child){
    @media screen and(max-width:767px){
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:768px) {
   flex-basis: calc((100% - 60px) / 2 );
   margin: 15px; 
}
  
@media screen and(min-width:1200px){
    flex-basis: calc((100% - 120px) / 4 );
  }
}





.advantage__box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  
}

 
  