// .client__item {
//     &+& {
//         .list & {
//         margin-left: 30px;
//         }

//     }
// }

// .client__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   width: 170px;
//   height: 92px;
//   border: 1px solid $light-grey;
//   border-radius: 4px;

//   fill: $light-grey;

// &:hover {
//   border: 1px solid $blue;

//   fill: $blue;
// }
// }

// .client__icon {
//   display: block;
//   width: 106px;
//   height: 60px;
// }
.client__list {
  display: flex;
  flex-wrap: wrap;

  // margin-left: -15px;
  // margin-right: -15px;
}
.client__item {
  width: calc((100%-2 * 30px) / 2);
}
.client__link {
  display: flex;

  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  //   width: 170px;
  // width: calc((100%-60px) / 2);
  height: 92px;
  border: 1px solid $light-grey;
  border-radius: 4px;

  fill: $light-grey;
}
.client__icon {
  display: block;
  width: 106px;
  height: 60px;
}
