.footer__section {
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background: $black-rock;
}

.footer__container {
  // // display: flex;
  // height: 252px;

  .logo {
    margin-bottom: 20px;

    &__footer {
      display: block;
      text-align: center;
    }
  }
  .logo__studio {
    color: $white;
  }
}

.address {
  &:not(:last-child) {
    // margin-bottom: 9px;
    margin-bottom: 8px;
  }
}
.address {
  &__container {
    // margin-top: 60px;
    margin-bottom: 60px;
    // text-align: center;

    // margin-right: 70px;
  }
  &__link {
    list-style-type: none;
    font-style: normal;
    margin: 0px;
    padding: 0px;
  }
}

.address__contact {
  display: block;
  text-align: center;

  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;

  letter-spacing: 0.03em;

  color: $white;

  &--color {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.join__container {
  margin-bottom: 60px;
  //   // margin-top: 72px;
  //   // margin-bottom: 100px;

  //   // width: 206px;
  //   // height: 80px;
}

.join__title {
  display: block;

  text-align: center;

  color: $white;
  margin-bottom: 20px;
}

.social__link {
  &--join-color {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    fill: $white;
    background-color: rgba(255, 255, 255, 0.1);

    &:hover,
    &:focus {
      fill: $white;
      background-color: $blue;
    }
  }
}

// .subscribe__box {
//
//   //   margin-top: 72px;
//   //   margin-left: 93px;
// }

.subscribe__input {
  // width: 358px;
  height: 50px;

  padding: 16px 15px;
  margin-bottom: 20px;

  color: rgba(255, 255, 255, 0.6);

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  &--position {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.subscribe__label {
  position: absolute;
  left: 16px;
  top: 26px;
  transform: translateY(-50%);

  font-weight: normal;
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  .subscribe__input:focus + &,
  .subscribe__input:not(:placeholder-shown) + & {
    width: 1px;
    height: 1px;
    margin: -1px;
    bottom: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.subscribe__button {
  // margin-left: 12px;

  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 29px;

  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-position: right 28px center;
}
