





  

  
 
  
.section__hero {
  text-align: center;

  padding-top: 118px;
  padding-bottom: 118px;

  margin-left: auto;
  margin-right: auto;
  background: $black-rock;
  @media screen and(max-width:767px) {
    max-width: 480px;
  }
  @media screen and(max-width:1199px) {
    max-width: 768px;
    min-height: 400px;
  }
  @media screen and(min-width:1200px) {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }


  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero/hero-mobile.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/hero-mobile@2x.jpg);
  }
}

@media screen and(min-width:489px) {
  .section__hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/hero-tablet.jpg);
      background-position: center;
      background-size: cover;
  }
  
  @media screen and(min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .section__hero {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/hero-tablet@2x.jpg);}
    }
  }

  @media screen and(min-width:769px) {
    .section__hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/hero/hero-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    
    @media screen and(min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        .section__hero {
          background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/hero/hero-desktop@2x.jpg);}
      }
    }
// .container__hero {
//   padding: 118px 60px;
// }

  //   margin-top: 200px;
  //   margin-bottom: 30px;
  //   margin-left: auto;
  //   margin-right: auto;
  
  //   width: 696px;
  
  //   font-weight: 900;
  //   font-size: 44px;
  //   line-height: 1.363;
  //   text-align: center;
  //   letter-spacing: 0.06em;
  //   text-transform: uppercase;
  
  //   color: $white;
  // }
.hero {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  //   width: 696px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white;

@media screen and(min-width:768px) {
  margin-left: 189px;
  margin-right: 189px;
} 
@media screen and(min-width:1200px){
  // margin-top: 200px;
   
    margin-left: auto;
    margin-right: auto;
  
    width: 696px;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;

}}


.button__hero {

  padding: 10px 32px 10px 32px;}

  