.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  

  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  .modal {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;

padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // min-height: 581px;
  // min-width: 528px;

  
  min-height: 160px;
  background-color: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
@media screen and(max-width:480px){
  width: calc(100% - 30px);
}

@media screen and(min-width:481px){
  width: 450px;}
  
  

  @media screen and(min-width:768px) {
    width: calc(100% - 333px);
    min-height: 609px;
  }
  @media screen and(min-width:839px) {
    width: 521px;}
}

.button__close {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  color: $black;
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $blue;
  }
}

.form {
 
height: 100%;
width:100%;
  p {
    display: block;
    margin-bottom: 12px;

    font-weight: bold;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-color;


  }
}

.form__list {
  list-style: none;
  display: flex;
  flex-direction: column;

  padding-left: 0;
  margin: 0;

  li {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.form__input {
  // padding: 10px 13px 10px 42px;
  padding: 12px 13px 12px 42px;
  width: 100%;
  height: 40px;

  outline: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $blue;
  }
}

.form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form__input:focus + & {
    fill: $blue;
  }
}

.form__list textarea {
  resize: none;
  height: 120px;

  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: 0;
    border: 1px solid $blue;
  }
  &::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form__box {
  position: relative;

  width: 100%;
}

.form__label {
  margin-bottom: 4px;
  // margin-bottom: 7px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.01em;

  color: $grey;
}

.policy__label {
  display: flex;

  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.policy__input--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.policy__span {
  display: block;

  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;

  .policy__input--hidden:checked + & {
    background-color: #2196f3;
    border-radius: 2px;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: #2196f3;
  }
  .policy__input--hidden:focus + & {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
  }
}
.policy__agree{
  display: block;
  font-weight: 400;
font-size: 12px;
line-height: 1.166;
letter-spacing: 0.03em;

color: $grey;

}
.policy__link {
  // margin-left: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.166px;

  letter-spacing: 0.03em;

  // font-size: 14px;
  // line-height: 24px;
  // /* identical to box height, or 171% */
  // letter-spacing: 0.03em;

  color: $blue;
}
// .policy__agree {
//   // display: flex;
//   text-align: center;

//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1.166px;

//   letter-spacing: 0.03em;

//   color: $grey;
// }

.button__form {
  padding: 10px 55px;
}
