// .container--position {
//   display: flex;
//   align-items: center;
// }

// .page-header {
//   border-bottom: 1px solid #ececec;
// }

// .nav {
//   display: flex;
//   align-items: center;
//
//   &__list {
//     list-style-type: none;
//     margin: 0px;
//     padding: 0px;
//     display: flex;
//   }
// }

// .nav {
//   &__link {
//     display: block;

//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     padding-top: 32px;
//     padding-bottom: 32px;

//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.142;
//     letter-spacing: 0.02em;
//     text-decoration: none;

//     color: $primary-color;

//     &:hover,
//     &:focus {
//       color: $blue;
//     }
//   }
// }

// .address__contact {
//   &--color {
//     &:hover,
//     &:focus {
//       color: $blue;
//     }
//   }
// }

// .nav {
//   .nav__link--active {
//     color: $blue;
//     &::after {
//       content: "";

//       display: block;

//       position: absolute;
//       left: 0;
//       bottom: 0;

//       width: 100%;
//       height: 4px;
//       background: $blue;
//       border-radius: 2px;
//     }
//   }
// }
// .contact__link {
//   &--position {
//     display: flex;
//     align-items: center;
//   }
//   &--color {
//     color: $grey;
//   }
// }

// .nav__item {
//   position: relative;

//   & + & {
//     margin-left: 50px;
//   }
// }

// .contact {
//   list-style-type: none;
//   margin: 0 0 0 auto;
//   padding: 0px;
//   display: flex;
// }

// .contact__icon {
//   display: block;

//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   margin-right: 10px;
//   fill: currentColor;

//   &:hover,
//   &:focus {
//     fill: currentColor;
//   }
// }

// .mobile-button {
//   position: absolute;
//   top: 10px;
//   right: 15px;

//   display: inline-flex;
//   margin: 0;
//   padding: 0;
//   border: none;

//   background-color: transparent;

//   &__close {
//     display: none;
//   }
// }

.container--position {
  display: flex;
  align-items: center;

  @media screen and(max-width:767px) {
    justify-content: space-between;
    height: 60px;
  }
  @media screen and(min-width:768px) {
    height: 80px;
  }
}

// .backdrop.is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
.container--mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: $white;
  z-index: 900;
  transform: translateY(-100%);
  @media screen and(min-width:768px) {
    display: none;
  }
}

.mobile-button__open {
  @media screen and(min-width:768px) {
    display: none;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

// .backdrop.is-open {
//   visibility: visible;
//   pointer-events: auto;
//   opacity: 1;

// Header mobile version

.container--mobile.is-open {
  transform: translateY(0);
}

.mobile-button {
  display: flex;

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  fill: $primary-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $blue;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-button__close {
  position: absolute;
  top: 10px;
  right: 15px;

  @media screen and(min-width:768px) {
    display: block;
  }
}

.nav {
  @media screen and(min-width:768px) {
    display: flex;
    align-items: center;
  }
}
//
//
//   &__list {
//     list-style-type: none;
//     margin: 0px;
//     padding: 0px;
//     display: flex;
//   }
// }

.navigation {
  display: flex;

  @media screen and(max-width:767px) {
    display: none;
  }
}

.nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0px;

  @media screen and(min-width:768px) {
    display: flex;
  }
}

.nav__item {
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

@media screen and(min-width:768px) {
  .nav__item {
    & + & {
      margin-left: 50px;
    }
  }
}

.nav {
  &__link {
    display: block;
    text-decoration: none;

    font-weight: 500;
    font-size: 40px;
    line-height: 1, 175;
    letter-spacing: 0.02em;

    color: $primary-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(min-width:768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.142;
      letter-spacing: 0.02em;
    }

    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.nav__link--active {
  color: $blue;
}

.address__contact {
  &--color {
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.contact {
  list-style-type: none;

  padding-left: 0px;
  // display: flex;

  @media screen and(max-width:767px) {
    margin-top: auto;
    margin-bottom: 64px;
  }
  @media screen and(min-width:768px) {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: 84px;
  }
}
@media screen and(max-width:767px) {
  .mobile__link--mail {
    display: block;
    text-decoration: none;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;

    color: $blue;
  }
  .mobile__link--tel {
    display: block;
    text-decoration: none;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.02em;

    color: $grey;
  }
}
.contact__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
//   display: flex;
//   flex-direction: row;

.contact__link {
  display: flex;
  text-decoration: none;
  align-content: center;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.02em;

  // &--position {
  // display: flex;
  //     align-items: center;
  // }
  &--color {
    @media screen and(min-width:768px) {
      color: $grey;
    }
  }
}

.contact__icon {
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 10px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: currentColor;
  }
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -10px;
  margin-bottom: -10px;
  margin-top: 0;
  padding-left: 0;

  &__link {
    text-decoration: none;
    color: $blue;
  }
}
.social-list__item {
  margin-left: 10px;
  margin-bottom: 10px;
  padding-right: 10px;

  &:first-child {
    margin-left: 0;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
