
.work__list{
  display: flex;
  margin: -15px;
}

.work__image {
  position: relative;
margin: 15px;
flex-direction: calc((100%-90px) / 3);
}

.work__title {
  display: block;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__section {
  
  padding-top: 0px;
  @media (max-width: 1199px) {
    display: none;
  }
}
